# ignore python venv
.venv

# vscode
.vscode

# ipython/jupyter
.ipython
.ipynb_checkpoints

# ignore vrep-scenes zip
debug/

# unity
navigation/Banana_Linux/
control/Reacher_Linux/
unity-environment.log

# python pkg files
**/pyproject.toml
**/*.egg-info
