[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
ipython = "*"
pytest = "*"
jupyter = "*"
gym = {version = "*", extras = ["atari", "box2d", "classic_control"]}
torch = "*"
numpy = "*"
torchvision = "*"

[requires]
python_version = "3.8"
