[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
torch = "*"
torchvision ="*"
ipython = "*"
numpy = "*"
scipy = "*"
matplotlib = "*"
pandas = "*"
gym = {version = "*", extras = ["atari", "box2d", "classic_control"]}
core = {editable = true, path = './core'}

[requires]
python_version = "3.8"
