[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
ipython = "*"
jupyter = "*"
pytest = "~=6.1"
torch = "~=1.7"
numpy = "~=1.19"
gym = {version = "*", extras = ["atari", "box2d", "classic_control"]}
control = {editable = true, path = "./control"}

[requires]
python_version = "3.8"

[packages]
sklearn = "*"
